.footer {
  background-color: #3c4753;
  position: relative;
  width: 100%;
  height: 284px;
  left: 0;
  bottom: 0;
}

.logoImg {
  width: 114px;
  height: 101px;
  margin: 20px 0 10px 0;
}
.content {
  color: #ffffff;
  margin-left: 23px;
  font-size: 15px;
}
.navigation {
  font-size: 18px;
}
.navigation > a {
  text-decoration: none;
  color: #ffffff;
}
.info {
  margin: 15px 0 15px 0;
  font-size: 15px;
}
