.container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.day {
  font-size: 20px;
}
.date {
  font-size: 13px;
  color: #aab1b8;
  margin-left: 130px;
}
