.container {
  display: flex;
  flex-direction: column;
  margin-right: 1.875rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.day {
  font-size: 1.25rem;
}
.date {
  font-size: 0.8125rem;
  color: #aab1b8;
  margin-left: 8.125rem;
}
