.container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.infoCont {
  display: flex;
  flex-direction: column;
}
.time {
  font-size: 13px;
  color: #aab1b8;
}
.tag {
  font-size: 13px;
  color: #8ea05d;
}
.place {
  font-size: 15px;
}
.placeImg {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: auto;
  background-color: #ffffff;
}
