.header {
  display: flex;
  font-size: 1.5625rem;
  margin-top: 1.125rem;
  justify-content: center;
}
.headerSub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerSub > button {
  width: auto;
  border: none;
  background-color: transparent;
  color: #aab1b8;
}
.selectedHr {
  width: 100%;
  height: 0.125rem;
  background-color: #000000;
  border: none;
  margin: 0.3125rem auto;
}
.selected > button {
  color: #000000;
}
