.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.625rem;
}
.dayBtn {
  background-color: #8ea05d;
  color: #ffffff;
  font-size: 0.8125rem;
  border: none;
  border-radius: 1.875rem;
  width: 3.75rem;
  height: 1.375rem;
  margin-bottom: 0.3125rem;
}
.imgCont {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
}
