.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.625rem;
}
.imgCont {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
  margin-bottom: 0.3125rem;
}
.placeName {
  width: 3.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 0.7325rem;
}
