.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.625rem;
}
.imgCont {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
}
