.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  // height: auto; /* 수정된 부분 */
  min-height: calc(100vh - 8rem); //버튼 밀리면 이 코드 수정하기
  background-color: #f4f6f7;
  border-radius: 0.625rem;
  padding-left: 7%;
  position: relative;
  overflow-y: auto;
}
.tripNameCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.875rem;
}
.tripName {
  font-size: 1.4375rem;
}
.editText {
  font-size: 0.8125rem;
  color: #8ea05d;
  margin-left: 0.3125rem;
}
.durationCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.0625rem;
}
.duration {
  font-size: 1.125rem;
}
.pickedPlaceCont {
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;
}
.pickedPlaceTextCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pickedPlace {
  font-size: 1.125rem;
}

.pickedHotelCont {
  display: flex;
  flex-direction: column;
  margin-top: 0.825rem;
}
.pickedHotelTextCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pickedHotel {
  font-size: 1.125rem;
}
.HotelImgCont {
  display: flex;
  flex-direction: row;
  margin: 0.3125rem 0 5rem 0;
}
.btnsCont {
  display: flex;
  flex-direction: row;
}
.addCartBtn {
  background-color: #8ea05d;
  color: #ffffff;
  border: none;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  width: 8.75rem;
  height: 2.1875rem;
  position: absolute;
  // bottom: 1.25rem;
  left: 2.25rem;
  // margin-top: auto;
  position: absolute;
  bottom: 1rem;
}
.makePlanBtn {
  background-color: #8ea05d;
  color: #ffffff;
  border: none;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  width: 8.75rem;
  height: 2.1875rem;
  position: absolute;
  // bottom: 1.25rem;
  right: 1.25rem;
  // margin-top: auto;
  position: absolute;
  bottom: 1rem;
}
