.container {
  display: flex;
}
.left {
  flex: 1;
}
.leftHeader {
  display: flex;
  flex-direction: row;
}
.titleArea {
  font-size: 1.75rem;
  margin: 0 0 0 0.8125rem;
  padding-left: 3.875rem;
}
#btnCommon {
  border-radius: 0.625rem;
  font-family: 'Jua', serif;
  background-color: #8ea05d;
  color: #ffffff;
  border: none;
}
.reserveBtn {
  margin: 0 5.7rem 0 auto;
  font-size: 1.125rem;
}
.showDate {
  color: #aab1b8;
  font-size: 1.125rem;
  margin-left: 0.875rem;
  padding-left: 3.875rem;
}
.searchBar {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.1875rem 0;
}
.categoryBtn {
  background-color: #8ea05d;
  color: #fff;
  margin: 0 0 1.875rem 6rem;
  font-size: 1rem;
  height: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // width: 65%;
  max-height: 425px; /* 5개의 PlaceBox 높이에 맞게 픽셀로 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
}
.noResults {
  color: #aab1b8;
}
.checkCont {
  width: 100%;
}
