.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 5rem;
  margin: 0 0 15px 0;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
}
.numberCont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #8ea05d;
  color: #ffffff;
  margin-right: 1.25rem;
  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
.boxCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 3.25rem);
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.1);
  flex-wrap: nowrap;
  overflow: hidden;
  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
}
.beforeAddHotelImg {
  width: 3.75rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.3125rem;
  background-color: #d9d9d9;
  margin: 0 0.625rem;
  @media (max-width: 768px) {
    margin: 0 0 1rem 0;
  }
}
.detailsCont {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  flex: 1;
  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}
.duration {
  font-size: 18px;
}
.placeName {
  font-size: 0.9375rem;
  color: #aab1b8;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
