.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24.875rem;
  height: 5.3125rem;
  background-color: #ffffff;
}
.placeImg {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin: 0 14px 0 21px;
}
.detailsCont {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.placeName {
  font-size: 18px;
}
.subDetails {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.category {
  color: #8ea05d;
}
.address {
  margin-left: 13px;
  color: #aab1b8;
}
