.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.leftCont {
  width: 40rem;
  min-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.rightCont {
  width: calc(100% - 40rem);
  min-height: 100%;
  background-color: aqua;
}
