.container {
  margin: 27px 0 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pCont {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
p {
  text-align: center;
}
.second {
  margin: 0 70px;
  color: #aab1b8;
}
.third {
  color: #aab1b8;
}
.progressBar {
  width: calc(300px + 10rem);
  height: 10px;
}
.bg-custom {
  background-color: purple;
  color: white;
}
